// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.big_container {
	border-top: 1px solid #22201c;
	border-bottom: 1px solid #22201c;
	padding: 8px;
	margin: 10px;
}

.poster {
	padding: 5px;
	border: 1px solid #22201c;

}